{$PUBLIC_ROOT_DOMAIN}, *.{$PUBLIC_ROOT_DOMAIN} {
  reverse_proxy app:5173  {
    header_down Strict-Transport-Security max-age=31536000;
  }
}
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
